{% extends "layout.html" %} 
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card bg-light" style="width: 18rem">
    <div class="card-body">
      <h4 class="card-title">Admin form</h4>
      <form action="/admin" method="post">
        <div class="w-75 mb-3">
          <label for="uid" class="form-label">User ID</label>
          <input
            type="input"
            class="form-control"
            id="uid"
            name="uid"
            aria-describedby="inputHelp"
          />
          <div id="inputHelp" class="form-text text-danger">
            {{ message_id }}
          </div>
        </div>
        <div class="w-75 mb-3">
          <label for="method" class="form-label">Method</label>
          <select class="form-select" id="method" name="method">
            <option value=""></option>
            <option value="Pushup">Pushup</option>
            <option value="Crunch">Crunch</option>
            <option value="ArmCurl">ArmCurl</option>
          </select>
          <div id="methodHelp" class="form-text text-danger">
            {{ message_method }}
          </div>
        </div>
        <div class="w-75 mb-3">
          <label for="count" class="form-label">Count</label>
          <input
            type="number"
            class="form-control"
            id="count"
            name="count"
            aria-describedby="countHelp"
          />
          <div id="countHelp" class="form-text text-danger">
            {{ message_count }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Push</button>
      </form>
      <div class="mt-2">
        <p>or</p>
      </div>
      <form action="/" method="GET">
        <button type="submit" class="btn btn-outline-primary">
          Go to the list
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
