{% extends "layout.html" %} 
{% block header %}
<div class="btn-toolbar">
	<div class="btn-group">
		<form action="/run-camera" method="POST" class="me-2">
			<button type="submit" class="btn btn-light">Run Camera</button>
		</form>
		<form action="/logout" method="POST" class="me-3">
			<button type="submit" class="btn btn-light">Logout</button>
		</form>
	</div>
</div>
{% endblock %}
{% block content %}
{% with msgs = get_flashed_messages(with_categories=true) %}
	{% if msgs %}
		{% for color, msg in msgs %}
			<div class="alert {{ color }} w-80" role="alert" style="z-index: 1000;">
				{{ msg }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}
<div class="card bg-light border border-light ">
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Method</th>
					<th>Rep</th>
				</tr>
			</thead>
			<tbody>
				{% for record in data %}
				<tr>
					<th>{{ record.created_at.year }}-{{ record.created_at.month }}-{{ record.created_at.day }}</th>
					<th>{{ record.created_at.strftime("%H:%M") }}</th>
					<th>{{ record.method }}</th>
					<th>{{ record.count }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}