{% extends "layout.html" %} 
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card bg-light" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Login form</h4>
      <form action="/login" method="post">
        <div class="w-75 mb-3">
          <label for="uid" class="form-label">User ID</label>
          <input type="input" class="form-control" id="uid" name="uid" aria-describedby="inputHelp">
          <div id="inputHelp" class="form-text text-danger">{{ message_id }}</div>
        </div>
        <div class="w-75 mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="pwd" aria-describedby="passwordHelp">
          <div id="passwordHelp" class="form-text text-danger">{{ message_pwd }}</div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="mt-2">
        <p>or</p>
      </div>
      <form action="/signup" method="GET">
        <button type="submit" class="btn btn-outline-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}